.content-programmer{
  background-color: var(--paleblueColor);
}

.content-img-programmer {
  min-width: 200px;
  min-height: 200px;
  width: 50%;
}

.content-img-programmer img{
  border-radius: 50%;
  object-fit: cover;
  width: 190px;
  height: 190px;
}

.content-programmer{
  width: 80vw;
}

.content-text-programmer{
  padding-left: 1%;
  background-color: var(--grayblueColor);
}

.aboutus{
  background-color: var(--darkgrayColor);
}

@media screen and (max-width: 992px) {
  .content-programmer{
    flex-direction: column;
    align-items: center;

  }
  .content-text-programmer{
    width: 100%;
    padding: 2% 2%;
  }
}