#root{
    background-color: #212939;
}

  .error4040-h1 {
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .error404-p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  /* .btn btn-success  {
    background-color: #212939;
    color: #ffffff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

 