@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Single+Day&display=swap');

.home{
    background-color: var(--darkgrayColor);
    min-height: 100vh;
    width: 100vw;
}

.page_entry{
    margin-bottom: 5vh;
    overflow: hidden;
}

.img_page_entry{
    position: relative;
    width: 100%;
}

.img_page_entry img{
    min-width: 100%;
}

.text_page_entry{
    position: absolute;
    text-align: center;
    color: var(--whiteColor);
    font-size: 16px;
    height: 588px;
    align-items: center;
}

.text_page_entry h4{
    font-size: 3em;
    background-color: rgba(0, 0, 0, 0.250);
    margin: 5%;
    width: 100vw;
} 

.text_header_rolling{
    color: var(--yellowColor);
}

.text_header_gourmet{
    color: var(--navyblueColor);
}

.search_bar{
    width: 20vw;

    min-width: 150px;
}
.select_combobox{
    width: 20vw;
    min-width: 150px;
}
.search_name{
    min-width: 150px;
}

.text-title-home{
    font-family: 'Black Ops One', cursive;
}