@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --blackColor: #000000;
    --greenColor: #008000;
    --navyblueColor: #212939;
    --darkgrayColor: #221F1F;
    --mediumgrayColor: #252734;
    --grayblueColor: #333647;
    --paleblueColor: #6F779D;
    --whiteColor: #FFFFFF;
    --yellowColor: #FFD230;
    --orangeColor: #FF8210;
    --redColor: #FF0000;
  }


.imgFix{
    width: 10em;
}

.navbarBackground{
    background-color: var(--navyblueColor);
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navButtonAdmin{
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    background-color: var(--orangeColor);
}

.navButtonDefault{
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    background-color: var(--paleblueColor);
}

.navButtonGreen{
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    background-color: var(--greenColor);
}

.navButtonRed{
    color: var(--whiteColor);
    display: flex;
    justify-content: center;
    background-color: var(--redColor);
}

.navButtonAnimation:hover{
    color: var(--whiteColor);
    opacity: 60%;
}