.imgFix {
  width: 10em;
}

.navbarBackground {
  top: 0;
  z-index: 1000; 
  border-bottom: 2px black solid;
}

.navbarBackground {
  background-color: var(--navyblueColor);
  position: sticky;
  opacity: 99%;

}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navButtonAdmin,
.navButtonDefault,
.navButtonGreen,
.navButtonRed{
  display: flex;
  justify-content: center;
}


.navButtonAdmin {
  color: var(--whiteColor);
  background-color: var(--orangeColor);
}

.navButtonDefault {
  color: var(--whiteColor);
  background-color: var(--paleblueColor);
}

.navButtonGreen {
  color: var(--whiteColor);
  background-color: var(--greenColor);
}

.navButtonRed {
  color: var(--whiteColor);
  background-color: var(--redColor);
}

.navButtonAnimation:hover {
  color: var(--whiteColor);
  opacity: 60%;
}

.navBarFontFamilyBold {
  font-family: "Bebas Neue", sans-serif;
}

.navBarFontFamilyNormal {
  font-family: "Roboto", sans-serif;
}
