.login{
    background-color: var(--darkgrayColor);
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
}
.card-header{
    background-color: #212939;
    color: #FFFFFF;
}

.card-body{
    background-color: #212939;
}

.mb-3{
    color:#FFFFFF
}

.text-color{
    color: #FFFFFF;
};