.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg-admin-page {
  background: var(--navyblueColor);
}

.btn-admin {
  background: var(--paleblueColor) !important;
  width: 400px;
  height: 60px;
}

.text-color-title {
  color: var(--yellowColor);
}
