.bg-user-page {
  background-color: var(--darkgrayColor);
}

hr {
  height: 6px;
  width: 30%;
  opacity: 1;
  background-color: #fff;
  margin-bottom: 3rem;
}

.btn-options-user-width {
  width: 100%;
}

.img-table-product {
  width: 50%;
}

.btn-unsuspend {
  background-color: var(--yellowColor) !important;
}

.btn-suspend {
  background-color: var(--redColor) !important;
}

td {
  width: 20%;
}
@media screen and (max-width: 1225px) and (min-width: 1045px) {
  .priority-table-user-1 {
    display: none;
  }
}

@media screen and (max-width: 1045px) and (min-width: 565px) {
  .priority-table-user-1 {
    display: none;
  }
}

@media screen and (max-width: 565px) and (min-width: 300px) {
  .priority-table-user-1 {
    display: none;
  }
  .priority-table-user-2 {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .priority-table-user-1 {
    display: none;
  }
  .priority-table-user-2 {
    display: none;
  }
  .priority-table-user-3 {
    font-size: 10px;

  }
  .btn-options-user-width {
    width: 100%;
   
  }

  .btn-unsuspend {
    font-size: 12px;
  }
  .btn-suspend {
    font-size: 12px;
  }
}
